[submodule "omarchy-cllpse-plugin-switcher"]
	path = omarchy-cllpse-plugin-switcher
	url = git@github.com:cllpse/omarchy-cllpse-plugin-switcher.git
	branch = main
[submodule "omarchy-cllpse-theme-dark"]
	path = omarchy-cllpse-theme-dark
	url = git@github.com:cllpse/omarchy-cllpse-theme-dark.git
	branch = main
[submodule "omarchy-cllpse-theme-light"]
	path = omarchy-cllpse-theme-light
	url = git@github.com:cllpse/omarchy-cllpse-theme-light.git
	branch = main
